<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finotek.board.dao.IDAO">

    <update id="modifyPost_A" parameterType="com.finotek.board.dto.BoardDTO">
		UPDATE ${CATEGORY} SET TITLE = #{TITLE}, CONTENT = #{CONTENT}, FILE_LIST = #{FILE_LIST}, HEADER_IMG = #{HEADER_IMG}, IMGS_LIST = #{IMGS_LIST} WHERE BID = #{BID}
	</update>

    <update id="modifyPost_U" parameterType="com.finotek.board.dto.BoardDTO">
		UPDATE ${CATEGORY} SET TITLE = #{TITLE}, CONTENT = #{CONTENT}, FILE_LIST = #{FILE_LIST}, HEADER_IMG = #{HEADER_IMG}, IMGS_LIST = #{IMGS_LIST}  WHERE BID = #{BID} AND WRITER = #{WRITER}
	</update>

    <select id="getPost_A" resultType="com.finotek.board.dto.BoardDTO">
		SELECT * FROM ${param2} WHERE BID = #{param1}
	</select>

    <select id="getPost_U" resultType="com.finotek.board.dto.BoardDTO">
		SELECT * FROM ${param2} WHERE BID =  #{param1} AND WRITER = #{param3}
	</select>

    <select id="getSearchPostList_A" resultType="com.finotek.board.dto.BoardDTO" parameterType="map">
		SELECT * FROM (SELECT /*+INDEX_DESC(A BID)*/ rownum as rownumber, BID, TITLE, WRITER, WDATE, HEADER_IMG FROM (SELECT * FROM ${CATEGORY} WHERE (UPPER(CONTENT) LIKE UPPER('%'|| #{CONTENT} ||'%') OR UPPER(TITLE) LIKE UPPER('%'|| #{CONTENT} ||'%')) ORDER BY BID DESC) A WHERE rownum &lt;= #{end}) B WHERE B.rownumber >= #{start}
	</select>

    <select id="getSearchPostList_U" resultType="com.finotek.board.dto.BoardDTO" parameterType="map">
		SELECT * FROM (SELECT /*+INDEX_DESC(A BID)*/ rownum as rownumber, BID, TITLE, WRITER, WDATE, HEADER_IMG FROM (SELECT * FROM ${CATEGORY} WHERE WRITER = #{ID} AND (UPPER(CONTENT) LIKE UPPER('%'|| #{CONTENT} ||'%') OR UPPER(TITLE) LIKE UPPER('%'|| #{CONTENT} ||'%')) ORDER BY BID DESC) A WHERE rownum &lt;= #{end} ) B WHERE B.rownumber >= #{start}
	</select>

    <insert id="writePost" parameterType="com.finotek.board.dto.BoardDTO">
		INSERT INTO ${CATEGORY} (BID, WRITER, CONTENT, TITLE, WDATE, FILE_LIST, HEADER_IMG, IMGS_LIST) VALUES (BOARD_SEQ.NEXTVAL, #{WRITER}, #{CONTENT}, #{TITLE}, #{WDATE}, #{FILE_LIST}, #{HEADER_IMG}, #{IMGS_LIST})
	</insert>

    <insert id="joinMember" parameterType="com.finotek.board.dto.MemberDTO">
		INSERT INTO USERS (ID, PASSWORD, ENABLED, AUTHORITY, EMAIL, JOINDATE, SEX, NAME ) VALUES (#{ID}, #{PASSWORD}, #{ENABLED}, #{AUTHORITY}, #{EMAIL}, #{JOINDATE}, #{SEX}, #{NAME})
	</insert>

    <select id="checkOverlap" resultType="String">
		SELECT ID FROM USERS WHERE ID = #{param1}
	</select>

    <delete id="deletePost_A">
		DELETE FROM ${param2} WHERE BID = #{param1}
	</delete>

    <delete id="deletePost_U">
		DELETE FROM ${param2} WHERE BID = #{param1} AND WRITER = #{param3}
	</delete>

	<delete id="deleteAccount">
		DELETE FROM USERS WHERE ID = #{param1}
	</delete>

	<select id="getAccountInfo" resultType="com.finotek.board.dto.MemberDTO">
		SELECT * FROM USERS WHERE ID = #{param1}
	</select>

	<select id="getCount_A" resultType="int">
		SELECT COUNT(BID) FROM ${param2} WHERE (UPPER(CONTENT) LIKE UPPER('%'|| #{param1} ||'%') OR UPPER(TITLE) LIKE UPPER('%'|| #{param1} ||'%'))
	</select>

	<select id="getCount_U" resultType="int">
		SELECT COUNT(BID) FROM ${param2} WHERE WRITER = #{param3} AND (UPPER(CONTENT) LIKE UPPER('%'|| #{param1} ||'%') OR UPPER(TITLE) LIKE UPPER('%'|| #{param1} ||'%'))
	</select>
</mapper>
