<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finotek.board.dao.IDAO">

	<select id="getPost_A" resultType="com.finotek.board.dto.BoardDTO">
		SELECT BID, TITLE, WRITER, WDATE, CONTENT FROM BOARDS WHERE BID = #{param1}
	</select>
	
	<select id="getPost_U" resultType="com.finotek.board.dto.BoardDTO">
		SELECT BID, TITLE, WRITER, WDATE, CONTENT FROM BOARDS WHERE BID =  #{param1} AND WRITER = #{param2}
	</select>
	
	<select id="getSearchPostList_A" resultType="com.finotek.board.dto.BoardDTO">
		SELECT * FROM BOARDS WHERE (UPPER(CONTENT) LIKE UPPER('%'|| #{CONTENT} ||'%') OR UPPER(TITLE) LIKE UPPER('%'|| #{CONTENT} ||'%')) 
	</select>
	
	<select id="getSearchPostList_U" resultType="com.finotek.board.dto.BoardDTO">
		SELECT * FROM BOARDS WHERE WRITER = #{ID} AND (UPPER(CONTENT) LIKE UPPER('%'|| #{CONTENT} ||'%') OR UPPER(TITLE) LIKE UPPER('%'|| #{CONTENT} ||'%')) 
	</select>
	
	<insert id="writePost">
		INSERT INTO BOARDS (BID, WRITER, CONTENT, TITLE, WDATE) VALUES (BOARD_SEQ.NEXTVAL, #{param1}, #{param2}, #{param3}, #{param4})
	</insert>
	
	<delete id="deletePost">
		DELETE FROM BOARDs WHERE BID = #{param1}
	</delete>
	
</mapper>
